body {
    background-color: black;
}

.panel-catastrophe {
    background-color: #fff472;
    color: black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.panel-catastrophe .panel-body {
}

.clock {
    font-family: monospace;
    background-color: red;
    padding: 0 0.5em;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#chooser-el {
    position: relative;
}

.legend {
    margin-top: 0.5em;
}