{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Catastrophe Countdown</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}" />
    <script type="text/javascript" src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'catastrophe_clock/css/catastrophe_clock.css' %}" />

    <script type="text/javascript" src="{% static 'backbone/js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'backbone/js/backbone-min.js' %}"></script>

    <script type="text/javascript" src="{% static 'catastrophe_clock/js/catastrophe_clock.js' %}"></script>
</head>
<body>
<div class="container text-center">
    <div class="panel panel-catastrophe">
        <div class="row">
            <div class="col-sm-12">
                <h1>Catastrophe Countdown</h1>
            </div>
        </div>

        <div class="panel-body" id="container-el">
            <div class="row">
                <div class="col-sm-12">
                    <h2>You have</h2>
                </div>
                <div class="col-xs-12">
                    <span class="clock panel h1">
                        <strong id="clock-view-el">DDDD:HH:MM:SS</strong>
                    </span>
                </div>
                <div class="col-sm-12">
                    <h2>until</h2>
                </div>
            </div>

            <div class="row" id="desc-el">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="brief-desc">Miami sinks under the water.</h3>
                </div>
            </div>

            <div class="row" id="more-info-el">
                <div class="col-sm-12">
                    <a class="find-more-a" href="#">
                        Click here to find out more.
                    </a>
                    <span id="chooser-el">
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Choose a different catastrophe.
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li class="dropdown-item"><a href="#">Nothing here right now...</a></li>
                            </ul>
                        </span>
                    </span>
                </div>

                <div class="col-sm-12 find-out-more">
                    <span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
